<%= wrender "layout/header.rhtml" %>

<%
    require 'rubygems'
    require 'rbosa'
    
    app = OSA.app 'iTunes'
    
    app.playpause
%>

<META HTTP-EQUIV=REFRESH CONTENT="0; URL=/">.
    
<%= wrender "layout/footer.rhtml" %>