body{
  background-color: #CB6B28;
  color: #000;
  font-size: 100%;
  font-family: Courier, Helvetica, Verdana;
  text-align: center;
}

a{
  color: #000;
  text-decoration: underline;
  font-weight:bold;
  font-family: Courier, Helvetica, Verdana;
}

a:hover{
  text-decoration: none;
  color: #fff;
}

table{
  text-align:left;
  width: 300px;
}

td{
  padding-top:.75em;
}

#footer{
  font-size: 80%;
}